body {
	margin: 0;
	padding: 15px 20px 45px 20px;
	
	background: #E5E5CC url(/images/background.gif) repeat-x;
	
	font-family: verdana,arial,sans-serif;
	font-size: 11px;
	color: #333333;
	line-height: 15px;
}

h1 {
	font-size: 15px;
}


td {
	font-family: verdana,arial,sans-serif;
	font-size: 11px;
	color: #333333;
	line-height: 15px;
}

th {
	font-family: verdana,arial,sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #333333;
	line-height: 15px;
}

img {
	border: 0;
}

a:link, a:visited, a:active
{
	color: #222222;
	/*font-size: 11px;*/
	text-decoration: underline;
}

a:hover
{
	color: #EE0000;
	/*font-size: 11px;*/
	text-decoration: underline;
}

.h1 {
	font-size: 15px;
}



img :link, img:visited, img:active:hover, img:hover
{
	text-decoration: none;
}


form {
	margin: 0;
	padding: 0;
}

.nav 
{
	float: right;
	/*margin: 95px 0 0 0;*/
	/*margin: 91px 0 0 0;*/
}


.nav ul
{
	display: inline;
	margin: 0;
	padding: 10px 10px 0 1px;
	list-style: none;
}

.nav li
{
	float: left;
	background: url("/images/menu.gif") no-repeat left top;
	background-position: 0% 0px;
	margin: 0 1px 0 0;
	padding: 0 0 0 6px;
}

.nav a, .nav a:hover, .nav a:visited, .nav a:active, .nav a:link
{
	float: left;
	font-size: 11px;
	line-height: 15px;
	display: block;
	background: url("/images/menu.gif") no-repeat right top;
	background-position: 100% 0px;
	padding: 5px 17px 5px 11px;
	text-decoration: none;
	font-weight: bold;
	color: #FFFFFF;
}

.nav li:hover, .nav li.ieHoverHack
{
	background-position: 0% -200px;
	color: #000000;
}

.nav li.ieHoverHack a:hover, .nav li.ieHoverHack a:visited, .nav li.ieHoverHack a:active, .nav li.ieHoverHack a:link
{
	background-position: 100% -200px;
	color: #000000;
}

.widthhackforie {
	/*width: expression(document.body.clientWidth < 995? "960px": "auto");*/
}


.header {
	
}



.header p {
	margin: 0;
	padding: 0;
}

.header .logo {
	border: 0;
	margin: 15px 13px 13px 17px;
}

.header_menu {
	float: right;
	padding: 0;
	margin: 0;
	margin-right: 10px;
	border-right: 1px solid #333333;
}

.header_menu li {
	list-style-type: none;
	float: left;
	width: 100px;
	text-align: center;
	border-left: 1px solid #333333;
}

.header_menu :link, .header_menu :visited
{
	display: block;
	width: 100%;
	color: #FFFFFF;
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
	line-height: 30px;	
}

.header_menu :link:hover, .header_menu :visited:hover
{
	color: #000000;
	background: url(/images/toolbar_bg_over2.gif)
}



.toolbar {
	/*background: url(/images/menu_bg.gif);*/
	height: 22px;
	/*border-bottom: 1px solid #666666;*/
	/*background: #CCCCCC;*/
	margin-top: 10px;
}

.toolbar ul {
	/*background: #c84c4c;*/
	padding: 0;
	margin:0;
	border: 0;
	/*margin-left: 10px;*/
	/*padding-left: 10px;*/
	/*border-left: 1px solid #666666;*/
}

.toolbar li {
	list-style-type: none;
	float: left;
	padding: 0 30px 0 30px;
	text-align: center;
	/*border-right: 1px solid #000000;*/
	color: #000000;
	background: #c84c4c;
	/*background: #c60000;*/
}

.toolbar a, .toolbar a:link, .toolbar a:visited {
	display: block;
	/*width: 100%;*/
	color: #FFFFFF;
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
	line-height: 22px;	
}

.toolbar a:link:hover, .toolbar a:visited:hover {
	color: #DDDDDD;
}




.dropdown_container
{
	clear: both;
	position: absolute;
	left: 0;
	/*top: 31;*/
	top: 40px;
	width: 200px;
	/*height: 10px;*/
	visibility: hidden;
	overflow:hidden;
	z-index: 10;
	padding: 0 10px 0 10px;
	background: none;
}

.dropdown_container img {
	float: none;
	display: block;
	padding: 0;
	border: 0;
	margin: 0;
}

.dropdown_menu
{
	width: 170px;
	background: #c84c4c;
	border-top: 1px solid #c60000;
	text-align: left;
	color: #FFFFFF;
}

.dropdown_menu a, .dropdown_menu a:link, .dropdown_menu a:visited, .dropdown_menu a:active
{
	display: block;
	width: 100%;
	/*color: #222222;*/
	color: #FFFFFF;
	padding: 2px;
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
	line-height: 22px;
	/*background: #CCCCCC;*/
	background: #c84c4c;
}

.dropdown_menu a:link:hover, .dropdown_menu a:visited:hover
{
	text-decoration: none;
	background: #EFEFEF;
	padding: 2px;
	font-weight: bold;
	color: #222222;
	line-height: 22px;
}





/*
.toolbar a:link:hover, .toolbar a:visited:hover {
	display: block;
	width: 100%;
	color: #000000;
	font-size: 11px;
	font-weight: normal;
	text-decoration: none;
	line-height: 22px;	
}
*/

/*****************
 ** SNAPINS
 *****************/

.snapin {
	margin: 0;
	padding: 10px;
	/*background: #00FF00;*/
}

.snapin_top {
	/*background: #cc0000 url(/images/top_left_corner_red.gif) no-repeat top left;*/
	background: #4d4545 url(/images/top_left_corner_grey.gif) no-repeat top left;
	/*#4e4e4e*/
	/*#393939*/
	/*#553b3b*/
	/*margin-bottom: 5px;*/
	cursor: pointer;
	height: 30px;
	/*border-top: 5px solid #FF0000;*/
}

.snapin_top_1 {
	background: url(/images/bottom_left_corner_grey.gif) no-repeat bottom left;
	cursor: pointer;
}

.snapin_top_2 {
	background: url(/images/bottom_right_corner_grey.gif) no-repeat bottom right;
	cursor: pointer;
}

.snapin_top_3{
	background: url(/images/top_right_corner_grey.gif) no-repeat top right;
	cursor: pointer;
	padding: 8px;
}



.snapin_content {
	background: #dfdfdf url(/images/bottom_left_corner_grey.gif) no-repeat bottom left;
	height: auto !important; /* hack to revert to normal behaviour for non-IE */
	height: 30px; /* hack to make IE show snapin boxes correctly */
}

.snapin_content_1 {
	background: url(/images/top_left_corner_grey.gif) no-repeat top left;
}

.snapin_content_2 {
	background: url(/images/top_right_corner_grey.gif) no-repeat top right;
}

.snapin_content_3{
	background: url(/images/bottom_right_corner_grey.gif) no-repeat bottom right;
	padding: 8px;
}



.snapin_bevel_1 {
	margin-top: -8px;
}

.snapin_bevel_2 {
	background: url('/images/bevel.gif') repeat-x bottom left;
	height: auto !important; /* hack to revert to normal behaviour for non-IE */
	height: 20px;
	padding: 0px;
}

.snapin_bevel_3 {
	background: url('/images/bevel_left.gif') no-repeat bottom left;
}

.snapin_bevel_4 {
	background: url('/images/bevel_right.gif') no-repeat bottom right;
	padding: 8px;
}


.snapin_bevel_bar_1 {
	margin-top: 8px;
}

.snapin_bevel_bar_2 {
	background: url('/images/bevel_bar.gif') repeat-x bottom left;
	height: auto !important; /* hack to revert to normal behaviour for non-IE */
	height: 20px;
	padding: 0px;
}

.snapin_bevel_bar_3 {
	background: url('/images/bevel_bar_left.gif') no-repeat bottom left;
}

.snapin_bevel_bar_4 {
	background: url('/images/bevel_bar_right.gif') no-repeat bottom right;
	padding: 6px;
}




.data_table th {
	background: #DDDDDD;
}
.data_table tr {
	background-color: #FFFFFF;
}
.data_table td {
	border-bottom: 1px solid #EFEFEF;
	padding: 2px;
}


.notice {
	margin: 33px 10px 10px 10px;
	background: #CCCCCC;
	padding: 10px;
	font-weight: bold;
	color: #000000;
}


.measurement {
    width: 60px;
}

.quantity {
    width: 178px;
}

.textboxInvisible {
    visibility: hidden;
    width: 250px;
}

.textbox {
	width: 250px;
}

/* this has been moved from the .textbox element as some dropdowns are much longer then the specified width */
.dropdown {
	width: auto;
}

.textboxOther {
	width: 250px;
	display: block;
	margin-top: 3px;
}

.optional {
	background: #dcddf2;
}

.required {
	background: #f2d2d2;
}

textarea {
    width: 400px;
    height: 90px;
}

.readOnly {
   /* line-height: 22px; */
   margin: 0;
    background: #FFFFFF; 
    padding: 4px 5px 4px 5px; 
    border-bottom: 1px solid #bfbdbd; 
    border-right: 1px solid #bfbdbd; 
    width: 250px;
}


div.auto_complete {
	position: absolute;
	float: left;
	clear: both;
	width: 350px;
	background: #fff;
	zIndex: 1000;
}
div.auto_complete ul {
	border:1px solid #888;
	margin:0;
	padding:0;
	width:100%;
	list-style-type:none;
}
div.auto_complete ul li {
	color: #000000;
	margin:0;
	padding:3px;
	cursor: pointer;
	display: block;
	width: 100%;
}
div.auto_complete ul li.selected { 
	background-color: #f2d2d2; 
}
div.auto_complete ul strong.highlight { 
	color: #800; 
	margin:0;
	padding:0;
}

.valid_row td {
	background: #DFDFDF; 
	border-top: 1px solid #EFEFEF; 
	border-bottom: 1px solid #EFEFEF;
}

.invalid_row td {
	background: #FF0000;
	color: #FFFFFF;
	border-top: 1px solid #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
}


.help {
	position: absolute;
	visibility: hidden;
	background: #ffffe1;
	border: 1px solid #000000;
	color: #000000;
	padding: 5px;
	width: 400px;
}


.cell_name {
	border-right: 1px solid #AAAAAA;
	padding-top: 8px;
}


.debug {
    background: #F5F5F5;
    border: 1px dashed #CCCCCC;
    margin: 50px 20px 20px 20px; 
    padding: 5px;
}


.combo {
	background: #FFFFFF;
	border: 1px solid #7f9db9;
	padding: 0px;
	width: 250px;
	height: 73px;
	overflow: auto;
}

.combo ul {
	list-style-type: none;
	padding: 0px;
	margin: 0;
	cursor: pointer;
}

.combo li {
	padding: 1px 4px 1px 4px;
	user-select: none;
}

.combo li.selected {
	background: #316ac5;
	color: #FFFFFF;
}

.combo input {
	padding: 0;
	margin: 0;
	height: 0;
	width: 0;
	visibility: hidden !important; /* hide the checkbox in non-IE */
	visibility: visible; /* hack to make IE correctly */
}

.combo label {
	display: block;
	padding-top: 1px;
}

.indented {
	background: #DFDFDF;
	border-right: 5px solid #EFEFEF;
	border-left: 5px solid #EFEFEF;
}



.heading_top {
	background: #4d4545 url(/images/top_left_corner_grey.gif) no-repeat top left;
	height: 30px;
	margin-bottom: 5px;
}

.heading_top_1 {
	background: url(/images/bottom_left_corner_grey.gif) no-repeat bottom left;
}

.heading_top_2 {
	background: url(/images/bottom_right_corner_grey.gif) no-repeat bottom right;
}

.heading_top_3 {
	background: url(/images/top_right_corner_grey.gif) no-repeat top right;
	padding: 8px;
}

.heading_top_3 p {
	margin: 0;
	font-weight: bold;
	color: #FFFFFF;
}

/*iframe {
	filter: Alpha(Opacity=0);
	position:absolute;
	top:0px;
	left:0px;
	display:none;
} */


/* New Button Style for News Snapin */
input.notifications_button {
   color:#999999;
   font-family:'Tahoma',helvetica,sans-serif;
   font-size:100%;
   font-weight:bold;
   background-color:#DEDEDE;
   border:1px solid;
   border-top-color:#999999;
   border-left-color:#999999;
   border-right-color:#999999;
   border-bottom-color:#999999;
}

.red {
	color: red;
}

.bold {
	font-weight: bold;
}

.green {
	color: green;
}

.rightBorder {
	border-right: 1px solid #CCCCCC;
}


.addressBookLeft {
	margin: 1px 0 0 1px; 
	border-right: 1px solid #c84c4c; 
	width: 150px;
	float: left;
}

.addressBookRight {
	background-color: #FFFFFF;
	border: 1px solid #9c9898;
}

.addressBookLeft ul, .addressBookRight ul {
	border: 0;
	margin: 0;
	padding: 0;
	list-style: none;
}

.addressBookRight ul {
	margin-left: 150px;
}

.addressBookLeft ul li, .addressBookRight ul li {
	padding: 6px;
	border-bottom: 1px solid #dfdfdf;
}
.ijf_row_white {
	color: #FFFFFF;
}
.ijf_row_white a:link {
	color: #FFFFFF;
}
.ijf_row_white a:visited {
	color: #FFFFFF;
}
.ijf_row_white a:hover {
	color: #333333;
}
.ijf_row td {
	background: #c84c4c;
	border-top: 1px solid #EFEFEF; 
	border-bottom: 1px solid #EFEFEF;
}
.snapin_messenger_form {
	font-size: 9px;
	font-family: Verdana;
}
.slobs_summary_chart {
	background-color: #FFFFFF;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 3px;
}
.slobs_summary_chart_header {
	background-color: #CCCCCC;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 3px;
	font-weight: bold;
}
.new_text {
	font-weight: bold;
	color: green;
}







/*********************** TEST ********************/


.docmanhier ul{ /*CSS for Simple Tree Menu*/
margin: 0;
padding: 0;
}

.docmanhier li{ /*Style for LI elements in general (excludes an LI that contains sub lists)*/
background: url(/apps/docman/foldertree/closed.gif) no-repeat left center;
list-style-type: none;
padding-left: 22px;
margin-bottom: 5px;
}

.docmanhier li.submenu{ /* Style for LI that contains sub lists (other ULs). */
background: url(/apps/docman/foldertree/list.gif) no-repeat left 1px;
cursor: hand !important;
cursor: pointer !important;
}